IpbWorkerFunction/nbproject/**
IpbWorkerFunction/build/**
IpbWorkerFunction/dist/**
IpbWorker/daily-logs/**
IpbWorker/logs/**
IpbWorker/nbproject/**
IpbWorker/build/**
IpbWorker/dist/**
IpbWorker/ipb-info.log
IpbWorker/ipb_config.xml
IpbWorker/ipb_worker_config.xml
IpbCommon/nbproject/**
IpbCommon/build/**
IpbCommon/dist/**
IpbCommon/out/**
/IpbWorker/test.xml
IpbAPI/nbproject/**
IpbAPI/build/**
IpbAPI/dist/**
.sonar/.sonar_lock
.sonar/report-task.txt
.scannerwork/**
IpbCommon/.sonar/.sonar_lock
IpbCommon/.sonar/sonar-report.json
IpbWorkerFunction/.sonar/.sonar_lock
.nb-gradle-properties
IpbWorkerFunction/.sonar/sonar-report.json
.gradle
.idea



/temp
/tets/nbproject/private/
/tets/build/
/c3p0/nbproject/private/
/c3p0/build/
/c3p0/dist/

.sonar/**
IpbWorkerFunction/.sonar/**
IpbWorker/.sonar/**
IpbCommon/.sonar/**
IpbAPI/.sonar/**

/.nb-gradle/
/build/
/gradle/**
gradlew
gradlew.bat